<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 md-5">
      <h5 class="h2"> <%= action_name.humanize %> Account</h5>
    </div>
  </div>
</div>

<div class="row w-50">
  <%= form_with(model: easy_post_account, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :key, class: "mdl-textfield__label" %>
      <%= form.text_field :key, id: :easy_post_account_key, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:key).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :account_number, class: "mdl-textfield__label" %>
      <%= form.text_field :account_number, id: :easy_post_account_account_number, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:account_number).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :name, class: "mdl-textfield__label" %>
      <%= form.text_field :name, id: :easy_post_account_name, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:name).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :company_name, class: "mdl-textfield__label" %>
      <%= form.text_field :company_name, id: :easy_post_account_company_name, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:company_name).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: "mdl-textfield__label" %>
      <%= form.text_field :email, id: :easy_post_account_email, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:email).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :phone_number, class: "mdl-textfield__label" %>
      <%= form.text_field :phone_number, id: :easy_post_account_phone_number, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:phone_number).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :street, class: "mdl-textfield__label" %>
      <%= form.text_field :street, id: :easy_post_account_street, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:street).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :city, class: "mdl-textfield__label" %>
      <%= form.text_field :city, id: :easy_post_account_city, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:city).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :state, class: "mdl-textfield__label" %>
      <%= form.text_field :state, id: :easy_post_account_state, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:state).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :zip_code, class: "mdl-textfield__label" %>
      <%= form.text_field :zip_code, id: :easy_post_account_zip_code, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:zip_code).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :country, class: "mdl-textfield__label" %>
      <%= form.text_field :country, id: :easy_post_account_country, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:state).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :parcel_width, class: "mdl-textfield__label" %>
      <%= form.text_field :parcel_width, id: :easy_post_account_parcel_width, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:state).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :parcel_length, class: "mdl-textfield__label" %>
      <%= form.text_field :parcel_length, id: :easy_post_account_parcel_length, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:state).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :parcel_height, class: "mdl-textfield__label" %>
      <%= form.text_field :parcel_height, id: :easy_post_account_parcel_height, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:state).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :parcel_weight, class: "mdl-textfield__label" %>
      <%= form.text_field :parcel_weight, id: :easy_post_account_parcel_weight, class: "form-control", required: true %>
      <% easy_post_account.errors.full_messages_for(:state).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :prod, class: "mdl-check_box__label" %>
      <%= form.check_box :prod, id: :easy_post_account_prod, class: "form-check-input" %>
    </div>

    <div class="mb-3">
      <label>Select Users</label><br>
      <%= select_tag "easy_post_account[user_ids][]", options_for_select(User.all.map{|user| [user.email, user.id]}, @easy_post_account.users.pluck(:id)), multiple: true, class: 'form-control', size: 10 %>
    </div>

    <div class="mb-3">
      <%= link_to 'Back', easy_post_accounts_path, class: "btn btn-secondary" %>
      <%= form.submit "Submit", class: "btn btn-success" %>
    </div>
  <% end %>

</div>
