<p id="notice"><%= notice %></p>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey">
    <h5>EasyPost Accounts</h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <table id="east-post-accounts-table", class="mdl-data-table" >
      <thead>
        <tr>
          <th>Key</th>
          <th>Account number</th>
          <th>Company name</th>
          <th>Phone number</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip code</th>
          <th>Parcel Width</th>
          <th>Parcel Length</th>
          <th>Parcel Height</th>
          <th>Parcel Weight</th>
          <th>Prod</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @easy_post_accounts.each do |easy_post_account| %>
          <tr>
            <td><%= easy_post_account.key %></td>
            <td><%= easy_post_account.account_number %></td>
            <td><%= easy_post_account.company_name %></td>
            <td><%= easy_post_account.phone_number %></td>
            <td><%= easy_post_account.street %></td>
            <td><%= easy_post_account.city %></td>
            <td><%= easy_post_account.state %></td>
            <td><%= easy_post_account.zip_code %></td>
            <td><%= easy_post_account.parcel_width %></td>
            <td><%= easy_post_account.parcel_length %></td>
            <td><%= easy_post_account.parcel_height %></td>
            <td><%= easy_post_account.parcel_weight %></td>
            <td><%= easy_post_account.prod %></td>
            <td><%= link_to 'Show', easy_post_account %></td>
            <td><%= link_to 'Edit', edit_easy_post_account_path(easy_post_account) %></td>
            <td><%= link_to 'Destroy', easy_post_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>
  <%= link_to 'New EasyPost Account', new_easy_post_account_path %>
</div>
