<p id="notice"><%= notice %></p>
<%= javascript_include_tag 'easy_post_accounts' %>
<%= stylesheet_link_tag 'easy_post_accounts', media: 'all' %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey">
    <h5>EasyPost Accounts</h5>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <table id="easy_post_accounts-table", data-source="<%= easy_post_accounts_path(format: :json) %>", class="mdl-data-table" width="100%" >
      <thead>
        <tr>
          <th>Key</th>
          <th>Account number</th>
          <th>Name</th>
          <th>Company name</th>
          <th>Phone number</th>
          <th>Email</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip code</th>
          <th>Parcel Width</th>
          <th>Parcel Length</th>
          <th>Parcel Height</th>
          <th>Parcel Weight</th>
          <th>Prod</th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>

  <br>
  <%= link_to 'New EasyPost Account', new_easy_post_account_path %>
</div>
