<div class="row w-50">
  <p id="notice"><%= notice %></p>

  <div class="mb-3">
    <p>
      <strong>Key:</strong>
      <%= @easy_post_account.key %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Account number:</strong>
      <%= @easy_post_account.account_number %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Name:</strong>
      <%= @easy_post_account.name %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Company name:</strong>
      <%= @easy_post_account.company_name %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Company name:</strong>
      <%= @easy_post_account.email %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Phone number:</strong>
      <%= @easy_post_account.phone_number %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Street:</strong>
      <%= @easy_post_account.street %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>City:</strong>
      <%= @easy_post_account.city %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>State:</strong>
      <%= @easy_post_account.state %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Zip code:</strong>
      <%= @easy_post_account.zip_code %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Zip code:</strong>
      <%= @easy_post_account.country %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Parcel Length:</strong>
      <%= @easy_post_account.parcel_length %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Parcel Height:</strong>
      <%= @easy_post_account.parcel_height %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Parcel Weight:</strong>
      <%= @easy_post_account.parcel_weight %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Parcel Width:</strong>
      <%= @easy_post_account.parcel_width %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Prod:</strong>
      <%= @easy_post_account.prod %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>User:</strong>
      <%= @easy_post_account.users.map{ |user| user.email }.join(', ') %>
    </p>
  </div>

  <div class="mb-3">
    <%= link_to 'Edit', edit_easy_post_account_path(@easy_post_account), class: "btn btn-success" %>
    <%= link_to 'Back', easy_post_accounts_path, class: "btn btn-secondary" %>
  </div>
</div>