<%= form_with(model: want_list_item, local: true) do |form| %>
  <% if want_list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(want_list_item.errors.count, "error") %> prohibited this want_list_item from being saved:</h2>

      <ul>
      <% want_list_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :want_list_id %>
    <%= form.text_field :want_list_id, id: :want_list_item_want_list_id %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, id: :want_list_item_isbn %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :want_list_item_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
