<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h5 class="h2">Edit Items</h5>
    </div>
  </div>
</div>

<div class="row w-50">

    <%= bootstrap_form_with(model: want_list_item, local: true) do |form| %>
      <div class="mb-3">
        <%= form.text_field :ean, id: :want_list_item_ean, disabled: true %>
      </div>

      <br />

      <div class="mb-3">
        <%= form.number_field :quantity, id: :want_list_item_quantity %>
      </div>

      <br>

      <div class="mb-3">
        <%= form.number_field :quantity_purchased, id: :want_list_item_quantity %>
      </div>

      <br>

      <div class="mb-3">
        <%= form.text_field :max_price, id: :want_list_item_max_price %>
      </div>

      <div class="mdl-card__actions">
        <%= link_to "Back", request.referer, class: "btn btn-secondary" %>
        <%= form.submit "Submit", class: "btn btn-success" %>
      </div>
    <% end %>

</div>