<%= form_with(model: want_list_item, local: true) do |form| %>
  <div class="mdl-textfield mdl-js-textfield">
    <%= form.label :ean, class: "mdl-textfield__label" %>
    <%= form.text_field :ean, id: :want_list_item_ean, class: "mdl-textfield__input" %>
    <% want_list_item.errors.full_messages_for(:ean).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
    <% end %>
  </div>

  <br />

  <div class="mdl-textfield mdl-js-textfield">
    <%= form.label :quantity, class: "mdl-textfield__label", class: "mdl-textfield__label" %>
    <%= form.number_field :quantity, id: :want_list_item_quantity, class: "mdl-textfield__input" %>
    <% want_list_item.errors.full_messages_for(:quantity).each do |message| %>
        <span class="mdl-textfield__error"><%= message %></span>
    <% end %>
  </div>

  <div class="mdl-card__actions">
    <%= form.submit "Submit", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
  </div>
<% end %>
