<%= javascript_include_tag 'want_list_form' %>

<div class="mdl-layout mdl-js-layout">
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h5 class="mdl-card__title-text mdl-color-text--grey"> <%= action_name.humanize %> Wantlist</h5>
    </div>

    <div class="mdl-card__supporting-text">
      <%= form_with(model: want_list, local: true) do |form| %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :name, class: "mdl-textfield__label" %>
          <%= form.text_field :name, id: :want_list_name, class: "mdl-textfield__input" %>
          <% want_list.errors.full_messages_for(:name).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        </br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.collection_radio_buttons :want_list_privacy_id, WantListPrivacy.all, :id, :name %>
          <% want_list.errors.full_messages_for(:want_list_privacy_id).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        </br>

        <div class="mdl-cell mdl-cell--12-col no-margin" id="users_select_div" <% if @want_list.nil? || @want_list.want_list_privacy_id != 3 %> hidden <% end %> >
          <%= hidden_field_tag "want_list[user_ids][]", nil %>
          <% User.where.not(id: current_user.id).each do |user| %>
            <%= check_box_tag "want_list[user_ids][]", user.id, @want_list.users.include?(user), id: dom_id(user) %>
            <%= label_tag dom_id(user), user.email %><br>
          <% end %>
        </div>

        </br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.file_field :want_list_items, class: "mdl-textfield__input" %>
          <% want_list.errors.full_messages_for(:want_list_items).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div>
          <%= form.label :active, class: "mdl-checkbox__label" %>
          <%= form.check_box :active, class: "mdl-checkbox__input" %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.select :valore_account_id, ValoreAccount.all.collect {|x| [x.name, x.id]}, {include_blank: 'Select Valore Account'} %>
        </div>

        <div class="mdl-card__actions">
          <%= form.submit "Submit", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
        </div>
      <% end %>

      <%= link_to 'Back', want_lists_path %>
    </div>
  </div>
</div>