
<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h5 class="h2"> <%= action_name.humanize %> Wantlist</h5>
    </div>
  </div>
</div>

<div class="row w-50">
  <%= bootstrap_form_with(model: want_list, local: true) do |form| %>
    <div class="form-group">
      <%= form.text_field :name, id: :want_list_name %>
    </div>

    <div class="mb-3">
      <%= form.collection_radio_buttons :want_list_privacy_id, WantListPrivacy.all, :id, :name do |b| %>
        <%= b.label { b.radio_button(class: "form-check-input") + " " + b.text } %> <br>
      <% end %>
    </div>

    </br>

    <div class="mb-3" id="users_select_div" <% if @want_list.nil? || @want_list.want_list_privacy_id != 3 %> hidden <% end %> >
      <%= hidden_field_tag "want_list[user_ids][]", nil %>
      <% User.where.not(id: current_user.id).each do |user| %>
        <%= check_box_tag "want_list[user_ids][]", user.id, @want_list.users.include?(user), id: dom_id(user) %>
        <%= label_tag dom_id(user), user.email %><br>
      <% end %>
    </div>

    </br>

    <div class="mb-3">
      <%= form.file_field :want_list_items %>
    </div>

    <div class="mb-3">
      <%= form.check_box :active, class: "form-check-input" %>
    </div>

    <div class="mb-3">
      <%= form.check_box :reset, class: "form-check-input" %>
    </div>

    <% if current_user.admin? %>
      <div class="mb-3">
        <%= form.select :valore_account_id, ValoreAccount.all.collect {|x| [x.name, x.id]}, {include_blank: 'Select Valore Account'}, {:required => true} %>
      </div>

      </br>

      <div class="mb-3">
        <%= form.select :valore_want_list_id, [1,2,3,4,5], {include_blank: 'Select Valore Want list ID'}, {:required => true} %>
      </div>

      </br>

      <div class="mb-3">
        <%= form.text_field :valore_po_number, id: :want_list_valore_po_number %>
      </div>

      </br>

      <div class="mdl-textfield mdl-js-textfield">
        <%= form.date_field :valore_shipment_date, id: :want_list_valore_shipment_date %>
      </div>

      </br>

      <div class="mb-3">
        <%= form.select :valore_shipment_frequency, %i[Weekly Pallet Scheduled], {include_blank: 'Select Valore Shipment Frequency'}, {:required => true} %>
      </div>

      </br>

      <div class="mb-3">
        <%= form.select :abe_account_id, AbeAccount.all.collect {|x| [x.email, x.id]}, {include_blank: 'Select Abe Account'}, {:required => true} %>
      </div>

      </br>

      <div class="mb-3">
        <%= form.select :thrift_account_id, ThriftAccount.all.collect {|x| [x.name, x.id]}, {include_blank: 'Select Thrift Account'}, {:required => true} %>
      </div>
    <% end %>

    <div class="mdl-card__actions">
      <%= link_to 'Back', want_lists_path, class: "btn btn-secondary"%>
      <%= form.submit "Submit", class: "btn btn-success" %>
    </div>
  <% end %>
</div>