<%= form_with(model: want_list, local: true) do |form| %>
    <div class="mdl-textfield mdl-js-textfield">
      <%= form.label :name, class: "mdl-textfield__label" %><br />
      <%= form.text_field :name, id: :want_list_name, class: "mdl-textfield__input" %>
      <% want_list.errors.full_messages_for(:name).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <br />

    <div class="mdl-textfield mdl-js-textfield">
      <%= form.collection_radio_buttons :want_list_privacy_id, WantListPrivacy.all, :id, :name %>
      <% want_list.errors.full_messages_for(:want_list_privacy_id).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <br />

    <div class="mdl-textfield mdl-js-textfield">
      <%= form.label :want_list_items, class: "mdl-textfield__label" %><br />
      <%= form.file_field :want_list_items, class: "mdl-textfield__input" %>
      <% want_list.errors.full_messages_for(:want_list_items).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mdl-card__actions">
      <%= form.submit "Submit", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div>
<% end %>

<%= link_to 'Back', want_lists_path %>
