<%= javascript_include_tag 'want_lists' %>
<%= stylesheet_link_tag 'want_lists', media: 'all' %>

<div class="mdl-layout mdl-js-layout layout_height">
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h5 class="mdl-card__title-text mdl-color-text--grey"> Wantlist</h5>
    </div>

    <div class="mdl-card__supporting-text">
    <!--<#%= form_with(model: want_list, local: true) do |form| %>-->
    <%= form_for :want_list,:url =>{:controller => "want_lists", :action=>"create"}, :method => :post do |form| %>
    <div class="mdl-textfield mdl-js-textfield">
      <%= form.label :name, class: "mdl-textfield__label" %><br />
      <%= form.text_field :name, id: :want_list_name, class: "mdl-textfield__input" %>
      <% want_list.errors.full_messages_for(:name).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <br />

    <div class="mdl-textfield mdl-js-textfield">
      <%= form.collection_radio_buttons :want_list_privacy_id, WantListPrivacy.all, :id, :name %>
        <% want_list.errors.full_messages_for(:want_list_privacy_id).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
    </div>

    <br />

    <div class="mdl-cell mdl-cell--12-col no-margin select_users">
      <%= form.label :select_users, :class => 'select-label' %>
      <div>
        <%=form.collection_check_boxes(:user_ids, User.where.not(id: current_user.id), :id, :email) do |shared_user| %>
          <div class="row">
            <%= shared_user.label(class: "check_box") do %>
            <div class="col-xs-4">
            <%= shared_user.check_box(class: "check_box") %>
            <%= shared_user.object.email %>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <%= form.label :want_list_items, class: "mdl-textfield__label" %><br />
      <%= form.file_field :want_list_items, class: "mdl-textfield__input" %>
      <% want_list.errors.full_messages_for(:want_list_items).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mdl-card__actions">
      <%= form.submit "Submit", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div>
<% end %>

    <%= link_to 'Back', want_lists_path %>| <%= link_to 'Show', @want_list %>

</div>
</div>
</div>

<script>
    $(document).ready(function(){
        $(".select_users").hide()
    });
  $('input[type=radio]').change( function() {
    var id_value = this.value
    if (id_value == 1) {
    $(".select_users").hide()
    };
    var id_value = this.value
    if (id_value == 2) {
    $(".select_users").hide()
    }
    var id_value = this.value
    if (id_value == 3) {
    $(".select_users").show()
    }
  });
</script>