<input type=hidden id="hidden_want_list" value="<%= @want_list.id%>">
<!--<#%= render 'form', want_list: @want_list %>-->
<div class="mdl-layout mdl-js-layout layout_height">
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h5 class="mdl-card__title-text mdl-color-text--grey"> Edit Wantlist </h5>
    </div>

    <div class="mdl-card__supporting-text">
    <%= form_for :want_list,:url =>{:controller => "want_lists", :action=>"update"}, :method => :put do |form| %>
    <div class="mdl-textfield mdl-js-textfield">
      <%= form.label :name, class: "mdl-textfield__label" %><br />
      <%= form.text_field :name, id: :want_list_name, class: "mdl-textfield__input" %>
      <% @want_list.errors.full_messages_for(:name).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <br />

    <div class="mdl-textfield mdl-js-textfield">
      <!--<#%= form.collection_radio_buttons :want_list_privacy_id, WantListPrivacy.all, :id, :name %>-->
      <!--<#% want_list.errors.full_messages_for(:want_list_privacy_id).each do |message| %>-->
      <!--<span class="mdl-textfield__error"><#%= message %></span>-->
      <!--<#% end %>-->

      <% get_privacy_list %>
      <% @want_list_privacy.each do |privacy| %>
          <input value="<%=privacy.id %>" name="edit_privacy_list" type="radio" class="shared_users" <% if @want_list.want_list_privacy_id.to_i == privacy.id.to_i %>checked<%end%>>
           <%=privacy.name%>
      <% end %>
    </div>

    <br />

    <div class="mdl-textfield mdl-js-textfield">
      <ul id="users">
        <% unless @users.nil? %>
            <% render @users %>
        <% end %>
      </ul>
    </div>
    <br />

    <div class="mdl-textfield mdl-js-textfield">
      <%= form.label :want_list_items, class: "mdl-textfield__label" %><br />
      <%= form.file_field :want_list_items, class: "mdl-textfield__input" %>
      <% @want_list.errors.full_messages_for(:want_list_items).each do |message| %>
          <span class="mdl-textfield__error"><%= message %></span>
      <% end %>
    </div>

    <div class="mdl-card__actions">
      <%= form.submit "Submit", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div>
<% end %>

</div>
  </div>
</div>

<script>
    //edit wantlist
        $(document).ready(function() {
            var id_value = document.getElementsByName('edit_privacy_list')
            var id_to_pass = document.getElementById('hidden_want_list').value
                 for (var i = 0, length = id_value.length; i < length; i++)
                  {

                         if (id_value[i].value == 3) {
                               $("#users").hide()
                          }
                          if (id_value[i].value == 2) {
                          $("#users").hide()
                          }
                          if (id_value[i].value == 1) {
                               $("#users").show()
                               jQuery.ajax({
                                     type: "GET",
                                        url: "/want_lists/edit_wantlist_user",
                                        data: "&authenticity_token=" + get_authenticity_token() + "&format=js" + "&want_list_id=" + id_to_pass,
                                        asynchronous: true,
                                        evalScripts: true
                              });
                            }

                       }

                   });

    $(function(){
        $('input[type=radio][name=edit_privacy_list]').change(function(){
            var id_to_pass = document.getElementById('hidden_want_list').value
            var id_value = this.value
            if (id_value == 3) {
                $("#users").show()
            }
            var id_value = this.value
            if (id_value == 2) {
                $("#users").hide()
            }
            var id_value = this.value
            if (id_value == 1) {
                $("#users").hide()
                jQuery.ajax({
                    type: "GET",
                    url: "/want_lists/edit_wantlist_user",
                    data: "&authenticity_token=" + get_authenticity_token() + "&format=js" + "&want_list_id=" + id_to_pass,
                    asynchronous: true,
                    evalScripts: true
                });
            }
        });
    });

</script>