<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Want list privacy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @want_lists.each do |want_list| %>
      <tr>
        <td><%= want_list.name %></td>
        <td><%= want_list.user.email %></td>
        <td><%= want_list.want_list_privacy.name %></td>
        <td><%= link_to 'Show', want_list %></td>
        <td><%= link_to 'Edit', edit_want_list_path(want_list) %></td>
        <td><%= link_to 'Destroy', want_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Want List', new_want_list_path %>
