<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @want_list.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @want_list.user %>
</p>

<p>
  <strong>Want list privacy:</strong>
  <%= @want_list.want_list_privacy %>
</p>

<%= link_to 'Edit', edit_want_list_path(@want_list) %> |
<%= link_to 'Back', want_lists_path %>
