
<%= form_tag reporting_pages_url, method: :get, class:'mdl-cell mdl-cell--12-col graybox' do %>
  <% searched_valore_ids = params['data'] ? params['data']['valore_account_ids'] : nil %>
  <div class="mdl-grid">
    <div class="mb-3">
      <label>Select Account</label>
      <% @valore_accounts.each do |valore_account| %><br>
        <%= check_box_tag "data[valore_account_ids][]", valore_account.id, (searched_valore_ids ? searched_valore_ids.include?(valore_account.id.to_s) : nil), class: "form-check-input" %>
        <%= label_tag valore_account.name %>
      <% end %>
    </div>

    <div class="mb-3">
      <label>Select Order Created Date</label>
      <%= text_field_tag "data[from_date]", (params['data'] ? params['data']['from_date'] : nil), id: 'from_date', class: 'form-control w-25', autocomplete: 'off' %>
      <%= text_field_tag "data[to_date]", (params['data'] ? params['data']['to_date'] : nil), id: 'to_date', class: 'form-control w-25', autocomplete: 'off' %>
    </div>

    <div class="mb-3">
      <%= submit_tag 'Search', name: nil, id: 'search_valore_orders', class: 'btn btn-secondary' %>
      <%= link_to 'Reset', reporting_pages_url, class: "btn btn-secondary" %>
    </div>

  </div>
<% end %>

<%# Export CSV filter %>
<div class="clearfix">
  <div class="row float-end">
    <div class="input-group align-items-center justify-content-center">
      <div class="m-2 align-self-center">
        <a href="<%= reporting_pages_path(format: :csv, data: @data) %>" class="btn btn-secondary csv-btn" id="export-valore-orders-button">Export CSV</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm table-responsive">
    <table class="table table-striped text-center" id="reporting-pages-table" data-source="<%= reporting_pages_path(format: :json) %>" data-turbolinks='false'>
      <thead>
        <tr>
          <th>ISBN</th>
          <th>OrderCount</th>
          <th>MaxPrice</th>
          <th>AvgPrice</th>
          <th>Author</th>
          <th>Title</th>
          <th>Publisher</th>
          <th>PubDate</th>
          <th>Edition</th>
          <th>List</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<dialog id="blockModal" class="mdl-dialog mdl-typography--text-center">
  <div class="mdl-dialog__content">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
  </div>
</dialog>