<div class="mdl-layout mdl-js-layout">
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h5 class="mdl-card__title-text mdl-color-text--grey"> <%= action_name.humanize %> Account</h5>
    </div>

    <div class="mdl-card__supporting-text">
      <%= form_with(model: fedex_account, local: true) do |form| %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :key, class: "mdl-textfield__label" %>
          <%= form.text_field :key, id: :fedex_account_key, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:key).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :password, class: "mdl-textfield__label" %>
          <%= form.text_field :password, id: :fedex_account_password, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:password).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :account_number, class: "mdl-textfield__label" %>
          <%= form.text_field :account_number, id: :fedex_account_account_number, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:account_number).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :meter_number, class: "mdl-textfield__label" %>
          <%= form.text_field :meter_number, id: :fedex_account_meter_number, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:meter_number).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :name, class: "mdl-textfield__label" %>
          <%= form.text_field :name, id: :fedex_account_name, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:name).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :company_name, class: "mdl-textfield__label" %>
          <%= form.text_field :company_name, id: :fedex_account_company_name, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:company_name).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :phone_number, class: "mdl-textfield__label" %>
          <%= form.text_field :phone_number, id: :fedex_account_phone_number, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:phone_number).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :street, class: "mdl-textfield__label" %>
          <%= form.text_field :street, id: :fedex_account_street, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:street).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :city, class: "mdl-textfield__label" %>
          <%= form.text_field :city, id: :fedex_account_city, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:city).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :state, class: "mdl-textfield__label" %>
          <%= form.text_field :state, id: :fedex_account_state, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:state).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :zip_code, class: "mdl-textfield__label" %>
          <%= form.text_field :zip_code, id: :fedex_account_zip_code, class: "mdl-textfield__input", required: true %>
          <% fedex_account.errors.full_messages_for(:zip_code).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
          <%= form.label :prod, class: "mdl-check_box__label" %>
          <%= form.check_box :prod, id: :fedex_account_prod, class: "mdl-check_box__input" %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :user_id, 'Store Manager', class: "mdl-checkbox__label" %></br>
          <%= form.select :user_id, User.all.collect {|x| [x.email, x.id]}, {include_blank: 'Select Store Manager'}, selected: 3, required: true %>
        </div>

        <div class="mdl-card__actions">
          <%= form.submit "Submit", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
        </div>
      <% end %>

      <%= link_to 'Back', fedex_accounts_path %>
    </div>
  </div>
</div>