<div class="mdl-layout mdl-js-layout">
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h5 class="mdl-card__title-text mdl-color-text--grey"> Edit User Role</h5>
    </div>

    <div class="mdl-card__supporting-text">

    <%= form_with(model: user, local: true) do |form| %>
    <div class="mdl-textfield mdl-js-textfield">
      <%= form.label :admin, class: "mdl-check_box__label" %>
      <%= form.check_box :admin, class: "mdl-check_box__input" %>
    </div>

    <div class="mdl-card__actions">
      <%= form.submit "Submit", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div>
    <% end %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>