<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 md-5">
      <h5 class="h2"> Edit User Role</h5>
    </div>
  </div>
</div>


<div class="row w-50">

  <%= form_with(model: user, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :role, class: "mdl-check_box__label" %>
      <%= form.select :role, User.roles.keys, {}, class: "form-control" %>
    </div>

    <div class="mdl-card__actions">
      <%= link_to 'Back', users_path, class: "btn btn-secondary"%>
      <%= form.submit "Submit", class: "btn btn-success" %>
    </div>
  <% end %>

</div>
