<%= form_with(model: want_list_item, local: false, class: 'mdl-grid') do |form| %>
  <%= form.text_field :ean, value: ean, hidden: true %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
    <%= form.select :want_list_id, current_user.owned_want_lists.collect { |x| [x.name, x.id] } %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty mdl-cell">
    <%= form.label :quantity, class: "mdl-textfield__label" %>
    <%= form.number_field :quantity, class: "mdl-textfield__input" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty mdl-cell">
    <%= form.label :max_price, class: "mdl-textfield__label" %>
    <%= form.text_field :max_price, class: "mdl-textfield__input", value: 0.00 %>
  </div>

  <%= form.submit "Submit", class: "mdl-cell mdl-button mdl-js-button mdl-button--raised" %>
<% end %>