<%= form_with(model: want_list_item, local: false) do |form| %>
  <%= form.text_field :ean, value: ean, hidden: true %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.select :want_list_id, current_user.all_want_lists.collect { |x| [x.name, x.id] } %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
    <%= form.label :quantity, class: "mdl-textfield__label" %>
    <%= form.number_field :quantity, class: "mdl-textfield__input" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
    <%= form.label :max_price, class: "mdl-textfield__label" %>
    <%= form.text_field :max_price, class: "mdl-textfield__input", value: 0.00 %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
    <%= form.label :expiration_date, class: "mdl-textfield__label" %>
    <%= form.date_field :expiration_date, id: "expirationDate", class: "mdl-textfield__input", value: Date.today %>
  </div>

  <br>

  <%= form.submit "Submit", id: "submit_wantlist_item", class: "mdl-button mdl-js-button mdl-button--raised" %>
<% end %>

<%= javascript_include_tag 'expiration_date' %>