<table class="mdl-data-table">
  <thead>
    <tr>
      <th>Indaba Instance</th>
      <th>Quantity Online</th>
      <th>Lowest Price</th>
    </tr>
  </thead>
  <tbody>
    <% @book.indaba_instance_data.where('lowest_price > 0 AND indaba_instance_data.indaba_instance_id != 9').order(:lowest_price).limit(4).each do |indaba_instance_datum| %>
      <tr>
        <td><%= indaba_instance_datum.indaba_instance.account_name %></td>
        <td><%= indaba_instance_datum.quantity_online %></td>
        <td><%= indaba_instance_datum.lowest_price %></td>
      </tr>
    <% end %>
    <% @book.indaba_instance_data.where('indaba_instance_data.indaba_instance_id = 9').each do |indaba_instance_datum| %>
      <tr>
        <td><%= indaba_instance_datum.indaba_instance.account_name %></td>
        <td><%= indaba_instance_datum.quantity_online %></td>
        <td><%= indaba_instance_datum.lowest_price %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="mdl-grid">
  <table id="fbaz-table" class="mdl-data-table">
    <thead>
    <tr>
      <th>Price</th>
      <th>Market</th>
      <th>Date</th>
      <th>Indaba</th>
    </tr>
    </thead>
    <tbody>
    <% @book.indaba_orders.where("indaba_orders.indaba_instance_id = 9").order('indaba_orders.date_ordered DESC').limit(100).each do |indaba_order| %>
        <tr>
          <td><%= indaba_order.price_paid %></td>
          <td><%= indaba_order.market_name %></td>
          <td><%= indaba_order.date_ordered.strftime("%m-%d-%Y") %></td>
          <td><%= indaba_order.indaba_instance.account_name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <table id="orders-table" class="mdl-data-table">
    <thead>
    <tr>
      <th>Buyer Email</th>
    </tr>
    </thead>
    <tbody>
    <% @book.indaba_orders.where("indaba_orders.indaba_instance_id = 1").order('indaba_orders.date_ordered DESC').limit(100).each do |indaba_order| %>
        <tr>
          <td><%= indaba_order.buyer_email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= render 'add_to_want_list', want_list_item: WantListItem.new(), ean: @book.ean %>
