<div class="mdl-layout mdl-js-layout">
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h5 class="mdl-card__title-text mdl-color-text--grey"> <%= action_name.humanize %> Account</h5>
    </div>

    <div class="mdl-card__supporting-text">
      <%= form_with(model: account, local: true) do |form| %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.select :source_id, Source.all.collect {|x| ["#{x.source_type.name} - #{x.name}", x.id]}, {include_blank: 'Select Source', required: true} %>
          <% account.errors.full_messages_for(:source_id).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        </br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :name, class: "mdl-textfield__label" %>
          <%= form.text_field :name, id: :account_name, class: "mdl-textfield__input", required: true %>
          <% account.errors.full_messages_for(:name).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :account_number, class: "mdl-textfield__label" %>
          <%= form.text_field :account_number, id: :account_account_number, class: "mdl-textfield__input", required: true %>
          <% account.errors.full_messages_for(:account_number).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :address_ln1, class: "mdl-textfield__label" %>
          <%= form.text_field :address_ln1, id: :account_address_ln1, class: "mdl-textfield__input", required: true %>
          <% account.errors.full_messages_for(:address_ln1).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :address_ln2, class: "mdl-textfield__label" %>
          <%= form.text_field :address_ln2, id: :account_address_ln2, class: "mdl-textfield__input" %>
          <% account.errors.full_messages_for(:address_ln2).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :city, class: "mdl-textfield__label" %>
          <%= form.text_field :city, id: :account_city, class: "mdl-textfield__input", required: true %>
          <% account.errors.full_messages_for(:city).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :state, class: "mdl-textfield__label" %>
          <%= form.text_field :state, id: :account_state, class: "mdl-textfield__input", required: true %>
          <% account.errors.full_messages_for(:state).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :zip, class: "mdl-textfield__label" %>
          <%= form.text_field :zip, id: :account_zip, class: "mdl-textfield__input", required: true %>
          <% account.errors.full_messages_for(:zip).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :phone_number, class: "mdl-textfield__label" %>
          <%= form.text_field :phone_number, id: :account_phone_number, class: "mdl-textfield__input" %>
          <% account.errors.full_messages_for(:phone_number).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.label :extension, class: "mdl-textfield__label" %>
          <%= form.text_field :extension, id: :account_extension, class: "mdl-textfield__input" %>
          <% account.errors.full_messages_for(:extension).each do |message| %>
            <span class="mdl-textfield__error"><%= message %></span>
          <% end %>
        </div>

        <div class="mdl-card__actions">
          <%= form.submit "Submit", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
        </div>
      <% end %>

      <%= link_to 'Back', accounts_path %>
    </div>
  </div>
</div>
