<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 md-5">
      <h5 class="h2"> <%= action_name.humanize %> Account</h5>
    </div>
  </div>
</div>

<div class="row w-50">
  <%= bootstrap_form_with(model: @account, local: true) do |form| %>
    <div class="mb-3">
      <%= form.select :source_id, Source.all.collect {|x| ["#{x.source_type.name} - #{x.name}", x.id]}, {:include_blank => true}, {:required => true} %>
    </div>

    <div class="mb-3">
      <%= form.text_field :name, id: :account_name %>
    </div>

    <div class="mb-3">
      <%= form.text_field :account_number, id: :account_account_number %>
    </div>

    <div class="mb-3">
      <%= form.text_field :address_ln1, id: :account_address_ln1 %>
    </div>

    <div class="mb-3">
      <%= form.text_field :address_ln2, id: :account_address_ln2 %>
    </div>

    <div class="mb-3">
      <%= form.text_field :city, id: :account_city %>
    </div>

    <div class="mb-3">
      <%= form.text_field :state, id: :account_state %>
    </div>

    <div class="mb-3">
      <%= form.text_field :zip, id: :account_zip %>
    </div>

    <div class="mb-3">
      <%= form.text_field :phone_number, id: :account_phone_number %>
    </div>

    <div class="mb-3">
      <%= form.text_field :extension, id: :account_extension %>
    </div>

    <div class="mb-3">
      <%= link_to 'Back', accounts_path,  class: "btn btn-secondary" %>
      <%= form.submit "Submit", class: "btn btn-success" %>
    </div>
  <% end %>

</div>
