<div class="row-50">
  <p id="notice"><%= notice %></p>

  <div class="mb-3">
    <p>
      <strong>Source:</strong>
      <%= @account.source.source_type.name + " - " + @account.source.name %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Name:</strong>
      <%= @account.name %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Account number:</strong>
      <%= @account.account_number %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Address ln1:</strong>
      <%= @account.address_ln1 %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Address ln2:</strong>
      <%= @account.address_ln2 %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>City:</strong>
      <%= @account.city %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>State:</strong>
      <%= @account.state %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Zip:</strong>
      <%= @account.zip %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Phone number:</strong>
      <%= @account.phone_number %>
    </p>
  </div>

  <div class="mb-3">
    <p>
      <strong>Extension:</strong>
      <%= @account.extension %>
    </p>
  </div>

  <div class="mb-3">
    <%= link_to 'Edit', edit_account_path(@account), class: "btn btn-secondary" %>
    <%= link_to 'Back', accounts_path, class: "btn btn-success" %>
  </div>

</div>
